@{
    ViewData["Title"] = "Home Page";
}


<main>
    <!-- tp-slider-area-nd -->
    <div style="background: var( --tp-grey-1);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6 pt-30 pb-30">
                    <h2 class="tp-section-title">
                        Your Trusted Source for IT & English Exam Vouchers and Training Support
                    </h2>
                    <p class="paragraph-one text-black pt-10">
                        Trainotrack Solutions is your trusted partner and an authorized reseller of globally recognized IT and English exam vouchers. Whether you are an IT professional aiming to advance your career or a candidate preparing to study, work, or migrate abroad,
                        we provide the authentic vouchers and training you need to succeed. As a genuine discounted voucher provider, we offer leading IT certifications, including CompTIA, AWS, Microsoft, ISTQB, Salesforce, Pega, and Cisco, along
                        with official vouchers for major English proficiency exams such as PTE, TOEFL, GRE, Duolingo, and SELT UKVI. With trusted vouchers, seamless booking, and reliable guidance, Trainotrack Solutions empowers you to achieve your
                        goals with confidence.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Our Voucher Section -->
<div class="container pt-20 pb-20">
    <div class="col-lg-12 col-md-12 col-sm-6">
        <h2 class="tp-section-title text-center pb-20">
            Our Exam
            <Span>Vouchers</Span>
        </h2>
    </div>

    <div class="swiper productSwiper">
        <div class="swiper-wrapper mx-2">
            <!-- Slide 1 -->
            <div class="swiper-slide">
                <div class="product1">
                    <div class="pro-img" style="background: var(--tp-grey-1);">
                        <a href="/certifications/aws/cloud-practitioner.html">
                            <img src="/assets/img/it-logo-webp/vocueher/aws.svg" alt="aws voucher" width="100%">
                        </a>
                    </div>
                    <div class="pro-details">
                        <!-- <span class="pro-title">AWS Exam</span> -->
                        <h4 class="pro-heading">
                            <a href="/certifications/aws/cloud-practitioner.html">AWS Certified Cloud Practitioner (CLF-C02)</a>
                        </h4>
                        <ul class="price-div">
                            <li><span>Actual Price</span> <span id="cloud_practitioner_actual">Rs 19095 </span></li>
                            <li><span>Our Price</strong></span> <span id="cloud_practitioner_selling">Rs 10120</span></li>
                        </ul>
                        <br>
                        <div class="btn-group">
                            <a href="javascript" class="px-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Enquiry Now</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product1">
                    <div class="pro-img bg-grey" style="background: var(--tp-grey-1);">
                        <a href="/certifications/comptia/a-plus.html">
                            <img src="/assets/img/it-logo-webp/vocueher/comptia.svg" alt="CompTIA voucher" width="100%">
                        </a>
                    </div>
                    <div class="pro-details">
                        <!-- <span class="pro-title">CompTIA Exam</span> -->
                        <h4 class="pro-heading">
                            <a href="/certifications/comptia/a-plus.html">CompTIA A+ (220-1201 or 220-1202)</a>
                        </h4>
                        <ul class="price-div">
                            <li><span>Actual Price</span> <span id="A_Exam_actual"> Rs 19095 </span></li>
                            <li><span>Our Price</strong></span> <span id="A_Exam_selling">Rs 10120</span></li>
                        </ul>
                        <br>
                        <div class="btn-group">
                            <a href="javascript" class="px-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Enquiry Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product1">
                    <div class="pro-img" style="background: var(--tp-grey-1);">
                        <a href="/certifications/isaca/certified-information-security-manager.html">
                            <img src="/assets/img/it-logo-webp/vocueher/isaca.svg" alt="isaca voucher" width="100%">
                        </a>
                    </div>
                    <div class="pro-details">
                        <!-- <span class="pro-title">ISACA Exam</span> -->
                        <h4 class="pro-heading">
                            <a href="/certifications/isaca/certified-information-security-manager.html">Certified Information Security Manager</a>
                        </h4>
                        <ul class="price-div">
                            <li><span>Actual Price</span> <span id="cisa_exam_actual">Rs 19095 </span></li>
                            <li><span>Our Price</strong></span> <span id="cisa_exam_selling">Rs 10120</span></li>
                        </ul>
                        <br>
                        <div class="btn-group">
                            <a href="javascript" class="px-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Enquiry Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product1">
                    <div class="pro-img" style="background: var(--tp-grey-1);">
                        <a href="/certifications/microsoft/microsoft-fundamentals.html">
                            <img src="/assets/img/it-logo-webp/vocueher/microsoft.svg" alt="microsoft Voucher" width="100%">
                        </a>
                    </div>
                    <div class="pro-details">
                        <!-- <span class="pro-title">Microsoft Exam</span> -->
                        <h4 class="pro-heading">
                            <a href="/certifications/microsoft/microsoft-fundamentals.html">Microsoft Fundamentals</a>
                        </h4>
                        <ul class="price-div">
                            <li><span>Actual Price</span> <span id="microsoft_fundamentals_exam_actual">Rs 19095 </span></li>
                            <li><span>Our Price</strong></span> <span id="microsoft_fundamentals_exam_selling">Rs 10120</span></li>
                        </ul>
                        <br>
                        <div class="btn-group">
                            <a href="javascript" class="px-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Enquiry Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product1">
                    <div class="pro-img" style="background: var(--tp-grey-1);">
                        <a href="/certifications/pmi/project-management-professional.html">
                            <img src="/assets/img/it-logo-webp/vocueher/pmi.svg" alt="PMI Voucher" width="100%">
                        </a>
                    </div>
                    <div class="pro-details">
                        <!-- <span class="pro-title">PMI Exam</span> -->
                        <h4 class="pro-heading">
                            <a href="/certifications/pmi/project-management-professional.html">Project Management Professional</a>
                        </h4>

                        <ul class="price-div">
                            <li>
                                <span>Actual Price</span>
                                <span id="pmp_exam_actual">Rs 19095</span>
                            </li>
                            <li><span>Our Price</span><span id="pmp_exam_selling">Rs 10120</span></li>
                        </ul>
                        <br>
                        <div class="btn-group">
                            <a href="javascript" class="px-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Enquiry Now</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-pagination mt-30" style="position: relative;"></div>
        <!-- Swiper Navigation Buttons -->


    </div>
</div>

<!-- Our Voucher Section End-->
<!-- tp-service-area-start -->
<div class="tp-service-area black-bg pt-20 pb-20 z-index p-relative" style="background: var(--tp-grey-1);">
    <div class="tp-service-shape-1 d-none">
        <img src="assets/img/slider/02_Shape.png" alt="">
    </div>
    <div class="tp-service-shape-2 d-none">
        <img src="assets/img/slider/03_Shape.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tp-service-section text-center mb-20">
                    <!-- <h4 class="tp-section-subtitle">Our Services</h4> -->
                    <h3 class="tp-section-title text-black">Explore Our <span>Certifications</span></h3>
                </div>
            </div>
        </div>
        <div class="row gx-20 justify-content-around">
            <div class="col-xl-3 col-lg-3 col-md-6 ">
                <div style="border-radius: 20px;  overflow:hidden;">
                    <div class="bg-white" style="padding: 29px;">

                        <img src="/assets/img/ISACA_logo_RGB.webp" alt="" srcset="">
                        <!-- <i class="flaticon-protection"></i> -->

                    </div>
                    <div class="tpservice mb-20 tp-sv-color-1" style="/* width: 82%; */height: 24vh;border-top-left-radius: 0px;border-top-right-radius: 0px;padding: 0px;padding-top: 10px; background: var(--tp-theme-2);">
                        <div class="tpservice__title">
                            <h4 class="tp-sv-title p-0 m-0 text-black"><a href="/certifications/isaca.html">ISACA Certification Exam Voucher</a></h4>
                            <p class="text-black mt-3"> Advance open-source skills powering global enterprise innovation. </p>
                        </div>
                        <div class="tpservice__circle d-none">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 ">
                <div style="border-radius: 20px;  overflow:hidden;">
                    <div class="bg-white" style="padding: 29px;">

                        <img src="./assets/img/it-logo-webp/aws.svg" alt="aws logo" srcset="">
                        <!-- <i class="flaticon-protection"></i> -->

                    </div>
                    <div class="tpservice mb-20 tp-sv-color-1" style="/* width: 82%; */height: 24vh;border-top-left-radius: 0px;border-top-right-radius: 0px;padding: 0px;padding-top: 10px; background: var(--tp-theme-2);">
                        <div class="tpservice__title">
                            <h4 class="tp-sv-title p-0 m-0 text-black"><a href="/certifications/aws.html">AWS Certification Exam Voucher</a></h4>
                            <p class="text-black mt-3"> Advance open-source skills powering global enterprise innovation. </p>
                        </div>
                        <div class="tpservice__circle d-none">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 ">
                <div style="border-radius: 20px;  overflow:hidden;">
                    <div class="bg-white" style="padding: 29px;">

                        <img src="./assets/img/it-logo-webp/comptia.svg" alt="comptia" srcset="">
                        <!-- <i class="flaticon-protection"></i> -->

                    </div>
                    <div class="tpservice mb-20 tp-sv-color-1" style="/* width: 82%; */height: 24vh;border-top-left-radius: 0px;border-top-right-radius: 0px;padding: 0px;padding-top: 10px; background: var(--tp-theme-2);">
                        <div class="tpservice__title">
                            <h4 class="tp-sv-title p-0 m-0 text-black"><a href="/certifications/comptia.html">CompTIA Certification Exam Voucher</a></h4>
                            <p class="text-black mt-3"> Advance open-source skills powering global enterprise innovation. </p>
                        </div>
                        <div class="tpservice__circle d-none">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 ">
                <div style="border-radius: 20px;  overflow:hidden;">
                    <div class="bg-white" style="padding: 29px;">

                        <img src="./assets/img/it-logo-webp/the-linus-foundation.svg" alt="the linux foundation logo" srcset="">
                        <!-- <i class="flaticon-protection"></i> -->

                    </div>
                    <div class="tpservice mb-20 tp-sv-color-1" style="/* width: 82%; */height: 24vh;border-top-left-radius: 0px;border-top-right-radius: 0px;padding: 0px;padding-top: 10px; background: var(--tp-theme-2);">
                        <div class="tpservice__title">
                            <h4 class="tp-sv-title p-0 m-0 text-black"><a href="/certifications/the-linux-foundation.html">The Linux Foundation Certification  Exam Voucher</a></h4>
                            <p class="text-black mt-3"> Advance open-source skills powering global enterprise innovation. </p>
                        </div>
                        <div class="tpservice__circle d-none">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 ">
                <div style="border-radius: 20px;  overflow:hidden;">
                    <div class="bg-white" style="padding: 29px;">

                        <img src="./assets/img/it-logo-webp/cisco.svg" alt="cisco logo" srcset="">
                        <!-- <i class="flaticon-protection"></i> -->

                    </div>
                    <div class="tpservice mb-20 tp-sv-color-1" style="/* width: 82%; */height: 24vh;border-top-left-radius: 0px;border-top-right-radius: 0px;padding: 0px;padding-top: 10px; background: var(--tp-theme-2);">
                        <div class="tpservice__title">
                            <h4 class="tp-sv-title p-0 m-0 text-black"><a href="/certifications/cisco.html">CISCO Certification Exam Voucher</a></h4>
                            <p class="text-black mt-3"> Networking certifications building <br> future-ready IT infrastructure leaders. </p>
                        </div>
                        <div class="tpservice__circle d-none">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 ">
                <div style="border-radius: 20px;  overflow:hidden;">
                    <div class="bg-white" style="padding: 29px;">

                        <img src="./assets/img/it-logo-webp/microsoft.svg" alt="microsoft logo" srcset="">
                        <!-- <i class="flaticon-protection"></i> -->

                    </div>
                    <div class="tpservice mb-20 tp-sv-color-1" style="/* width: 82%; */height: 24vh;border-top-left-radius: 0px;border-top-right-radius: 0px;padding: 0px;padding-top: 10px; background: var(--tp-theme-2);">
                        <div class="tpservice__title">
                            <h4 class="tp-sv-title p-0 m-0 text-black"><a href="/certifications/microsoft.html">Microsoft Certification Exam Voucher</a></h4>
                            <p class="text-black mt-3"> Certifications for cloud, data, AI, <br> and productivity solutions. </p>
                        </div>
                        <div class="tpservice__circle d-none">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 ">
                <div style="border-radius: 20px;  overflow:hidden;">
                    <div class="bg-white" style="padding: 29px;">

                        <img src="./assets/img/it-logo-webp/pmi.svg" alt="" srcset="">
                        <!-- <i class="flaticon-protection"></i> -->

                    </div>
                    <div class="tpservice mb-20 tp-sv-color-1" style="/* width: 82%; */height: 24vh;border-top-left-radius: 0px;border-top-right-radius: 0px;padding: 0px;padding-top: 10px; background: var(--tp-theme-2);">
                        <div class="tpservice__title">
                            <h4 class="tp-sv-title p-0 m-0 text-black"><a href="/certifications/pmi.html">PMI Certification Exam Voucher</a></h4>
                            <p class="text-black mt-3"> Globally recognized certifications driving project management success. </p>
                        </div>
                        <div class="tpservice__circle d-none">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 ">
                <div style="border-radius: 20px;  overflow:hidden;">
                    <div class="bg-white" style="padding: 29px;">

                        <img src="./assets/img/it-logo-webp/pega.svg" alt="pega logo" srcset="">
                        <!-- <i class="flaticon-protection"></i> -->

                    </div>
                    <div class="tpservice mb-20 tp-sv-color-1" style="/* width: 82%; */height: 24vh;border-top-left-radius: 0px;border-top-right-radius: 0px;padding: 0px;padding-top: 10px; background: var(--tp-theme-2);">
                        <div class="tpservice__title">
                            <h4 class="tp-sv-title p-0 m-0 text-black"><a href="/certifications/pega.html">Pega Certification Exam Voucher</a></h4>
                            <p class="text-black mt-2"> Networking certifications building <br> future-ready IT infrastructure leaders. </p>

                        </div>
                        <div class="tpservice__circle d-none">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 ">
                <div style="border-radius: 20px;  overflow:hidden;">
                    <div class="bg-white" style="padding: 29px;">

                        <img src="./assets/img/it-logo-webp/paloalto.svg" alt="palo alto logo" srcset="">
                        <!-- <i class="flaticon-protection"></i> -->

                    </div>
                    <div class="tpservice mb-20 tp-sv-color-1" style="/* width: 82%; */height: 24vh;border-top-left-radius: 0px;border-top-right-radius: 0px;padding: 0px;padding-top: 10px; background: var(--tp-theme-2);">
                        <div class="tpservice__title">
                            <h4 class="tp-sv-title p-0 m-0 text-black"><a href="/certifications/paloatonetwork.html">Paloalto Certification Exam Voucher</a></h4>
                            <p class="text-black mt-2"> Networking certifications building <br> future-ready IT infrastructure leaders. </p>

                        </div>
                        <div class="tpservice__circle d-none">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 ">
                <div style="border-radius: 20px;  overflow:hidden;">
                    <div class="bg-white" style="padding: 29px;">

                        <img src="./assets/img/it-logo-webp/check_point.svg" alt="check point logo" srcset="">
                        <!-- <i class="flaticon-protection"></i> -->

                    </div>
                    <div class="tpservice mb-20 tp-sv-color-1" style="/* width: 82%; */height: 24vh;border-top-left-radius: 0px;border-top-right-radius: 0px;padding: 0px;padding-top: 10px; background: var(--tp-theme-2);">
                        <div class="tpservice__title">
                            <h4 class="tp-sv-title p-0 m-0 text-black"><a href="/certifications/checkpoint.html">CheckPoint Certification Exam Voucher</a></h4>
                            <p class="text-black mt-2"> Networking certifications building <br> future-ready IT infrastructure leaders. </p>

                        </div>
                        <div class="tpservice__circle d-none">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 ">
                <div style="border-radius: 20px;  overflow:hidden;">
                    <div class="bg-white" style="padding: 29px;">

                        <img src="./assets/img/it-logo-webp/salesforce.svg" alt="salesforce logo" srcset="">
                        <!-- <i class="flaticon-protection"></i> -->

                    </div>
                    <div class="tpservice mb-20 tp-sv-color-1" style="/* width: 82%; */height: 24vh;border-top-left-radius: 0px;border-top-right-radius: 0px;padding: 0px;padding-top: 10px; background: var(--tp-theme-2);">
                        <div class="tpservice__title">
                            <h4 class="tp-sv-title p-0 m-0 text-black"><a href="/certifications/salesforce.html">Salesforce Certification Exam Voucher</a></h4>
                            <p class="text-black mt-2"> Networking certifications building <br> future-ready IT infrastructure leaders. </p>

                        </div>
                        <div class="tpservice__circle d-none">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6"></div>
        </div>
        <div class="row justify-content-around">
        </div>
    </div>


</div>






<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
